{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}

  <h2>Liste des annonces</h2>

  <ul>
    {% for advert in listAdverts %}
      <li>
        <a href="{{ path('oc_platform_view', {'id': advert.id}) }}">
          {{ advert.title }}
        </a>
        par {{ advert.author }},
        le {{ advert.date|date('d/m/Y') }}
      </li>
    {% else %}
      <li>Pas (encore !) d'annonces</li>
    {% endfor %}
  </ul>
  
   <h2>Dernières annonces 2018</h2>
    <ul>
    {% for application in ApplicationsWithAdvert %}
      <li>
          <label>{{ application.advert.title }}</label>
          <span>Par {{ application.author}} le {{ application.date|date('d/m/Y') }}</span>
          <p>{{ application.content}}</p>
        
      </li>
    {% else %}
      <li>Pas (encore !) d'annonces</li>
    {% endfor %}
  </ul>
  
  {% endblock %}
