
{% extends "OCCoreBundle::layout.html.twig" %}

{% block body %}
 
      {% for message in app.session.flashBag.get('notice') %}
    <div class="alert alert-info">
        {{ message }}
    </div>
{% endfor %}

  <h2>Dernières annonces</h2>

  

      
  <ul>
    {% for advert in listAdverts %}
      <li>
        <a href="{{ path('oc_core_view', {'id': advert.id}) }}">
          {{ advert.title }}
        </a>
        par {{ advert.author }},
        le {{ advert.date|date('d/m/Y') }}
      </li>
    {% else %}
      <li>Pas (encore !) d'annonces</li>
    {% endfor %}
  </ul>
 {% endblock %}
